@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>
<a href="/Account/LoginFacebook?provider=Facebook">Login with Facebook</a>
<br>
<a href="/Account/LoginFacebook?provider=Microsoft">Login with Microsoft</a>
<br>
<a href="/Account/LoginFacebook?provider=Google">Login with Google</a>