@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Some info about the logged in User:</p>
<br/>

@if (User.Identity.IsAuthenticated){
    @foreach(var claim in User.Claims){
        <p><b>@claim.Type</b> - @claim.Value</p>
    }
}else{
    <p>User is not signed in</p>
}